{% extends 'base.html' %}
{% block content %}
<div class="row mt-5">
    <h2 class="col-1">
        {{ fileName }}
    </h2>
</div>
<div class="row mt-5">
    
    <table class="table table-striped">
        {% for row in csvFileContent %}
            <tr>
                {% for field in row %}
                    {% if forloop.parentloop.first %}
                    <th style="color: #2982fd">
                       {{ field }} 
                    </th>
                    {% else %}
                    <td>
                        {{ field }} 
                     </td>
                    {% endif %}
                {% endfor %}
            </tr>    
        {% endfor %}
        
    </table>
    <a href="{% url 'collectionList20' fileName %}">
        <button class="btn btn-link btn-outline-secondary">
            Show more
        </button>
    </a>
</div>
{% endblock %}