{% extends 'base.html' %}
{% block content %}
<div class="row mt-5">
    <h4 class="col-1">
        Collections
    </h4>
    <a href="{% url 'fetchCollection' %}" class="col-1">
        <button class="btn btn-success">
            Fetch
        </button>
    </a>
</div>
<div class="row mt-5">
    <table class="table table-striped">
        {% for collection in collections %}
        <tr>
            <td>
                <a href="{% url 'collectionList' collection.fileName %}" style="text-decoration: none;">
                    <p>
                        {{ collection.date }}
                    </p>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}